<!-- Help -->
	<button md-icon-button [mdMenuTriggerFor]="menu">
		<md-icon>help_outline</md-icon>
	</button>
		<md-menu #menu="mdMenu">
			<!-- Diagram Help -->
			<button md-menu-item [mdMenuTriggerFor]="DiagramHelpMenu">
				<md-icon>help_outline</md-icon>
				<span>Diagram</span>
			</button>
				<md-menu #DiagramHelpMenu="mdMenu">
					<button md-menu-item (click)="showCreateDiagramHelp()">
						<md-icon>help</md-icon>
						<span>Create diagram</span>
					</button>
					<button md-menu-item (click)="showViewDiagramHelp()">
						<md-icon>help</md-icon>
						<span>View diagram</span>
					</button>
					<button md-menu-item (click)="showEditDiagramHelp()">
						<md-icon>help</md-icon>
						<span>Edit diagram</span>
					</button>
					<button md-menu-item (click)="showDeleteDiagramHelp()">
						<md-icon>help</md-icon>
						<span>Delete diagram</span>
					</button>
				</md-menu>

			<!-- Layer Help -->
			<button md-menu-item [mdMenuTriggerFor]="LayerHelpMenu">
				<md-icon>help_outline</md-icon>
				<span>Layer</span>
			</button>
				<md-menu #LayerHelpMenu="mdMenu">
					<button md-menu-item (click)="showCreateLayerHelp()">
						<md-icon>help</md-icon>
						<span>Create layer</span>
					</button>
					<button md-menu-item (click)="showEditLayerHelp()">
						<md-icon>help</md-icon>
						<span>Edit layer</span>
					</button>
					<button md-menu-item (click)="showDeleteLayerHelp()">
						<md-icon>help</md-icon>
						<span>Delete layer</span>
					</button>
				</md-menu>

			<!-- Lifeline Help -->
			<button md-menu-item [mdMenuTriggerFor]="LifelineHelpMenu">
				<md-icon>help_outline</md-icon>
				<span>Lifeline</span>
			</button>
				<md-menu #LifelineHelpMenu="mdMenu">
					<button md-menu-item (click)="showCreateLifelineHelp()">
						<md-icon>help</md-icon>
						<span>Create lifeline</span>
					</button>
					<button md-menu-item (click)="showEditLifelineHelp()">
						<md-icon>help</md-icon>
						<span>Edit lifeline</span>
					</button>
					<button md-menu-item (click)="showDeleteLifelineHelp()">
						<md-icon>help</md-icon>
						<span>Delete lifeline</span>
					</button>
				</md-menu>

			<!-- Message Help -->
			<button md-menu-item [mdMenuTriggerFor]="MessageHelpMenu">
				<md-icon>help_outline</md-icon>
				<span>Message</span>
			</button>
				<md-menu #MessageHelpMenu="mdMenu">
					<button md-menu-item (click)="showCreateMessageHelp()">
						<md-icon>help</md-icon>
						<span>Create message</span>
					</button>
					<button md-menu-item (click)="showEditMessageHelp()">
						<md-icon>help</md-icon>
						<span>Edit message</span>
					</button>
					<button md-menu-item (click)="showDeleteMessagerHelp()">
						<md-icon>help</md-icon>
						<span>Delete message</span>
					</button>
				</md-menu>		
	</md-menu>