.sidebar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  line-height: 15px;
  margin-bottom: 3px;
}

.sidebar-nav li.active {
  border-left: 5px solid #3f51b5;
}

.mat-card-actions {
  padding: 0px 0;
}

.mat-card {
  border-radius: 0px;
  padding-top: 10px;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.list-item-button {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  text-align: left;
}

.list-item-toggle {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  text-align: left;
  vertical-align: middle;
}

.section-heading {
  text-align: center;
  margin-top: 50px;
  background-color: #3f51b5;
  color: #fff;
  padding: 10px 0;
  font-weight: bold;
}

md-card-content h3 {
  cursor: pointer;
}