<md-toolbar color="primary">
    <span>3D UML</span>
    <span class="spacer"></span>
    <!--
  <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item>
        <md-icon>autorenew</md-icon>
        <span>Refresh</span>
      </button>
        <button md-menu-item>
        <md-icon>save</md-icon>
        <span>Save all diagrams</span>
      </button>
        <button md-menu-item disabled>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
      </button>
        <button md-menu-item>
        <md-icon>info</md-icon>
        <span>Informations</span>
      </button>
    </md-menu>
    -->
</md-toolbar>

<md-tab-group (selectChange)="changeTab($event)" [selectedIndex]="selectedTabIndex">
    
    <md-tab label="View" class="menu-tab">
        <ul class="sidebar-nav">

            <!-- Create Diagram -->
            <li>
                <md-card>
                    <md-card-actions>
                        <button md-button class="list-item-button" (click)="sequenceDiagramController.createDiagram()">
                            <md-icon>add_to_queue</md-icon> Create Diagram
                        </button>
                    </md-card-actions>
                </md-card>
            </li>

            <!-- List of Sequence Diagrams -->
            <li
                *ngIf="sequenceDiagrams && sequenceDiagrams.length > 0"
                class="section-heading">
                List of Diagrams
            </li>
            <li
              *ngFor="let sequenceDiagram of sequenceDiagrams"
              [class.active]="sequenceDiagram == openedSequenceDiagram">
                
                <md-card>
                    
                    <!-- Rename Diagram -->
                    <md-card-content
                      (click)="openSequenceDiagram(sequenceDiagram)"
                      (dblclick)="sequenceDiagramController.renameDiagram(sequenceDiagram)">
                        <h3>{{sequenceDiagram.name}}</h3>
                    </md-card-content>

                    <md-card-actions>

                        <!-- Open Diagram -->
                        <button md-button (click)="openSequenceDiagram(sequenceDiagram)">
                            <md-icon>touch_app</md-icon> Select
                        </button>

                        <!-- Delete Diagram -->
                        <button md-button (click)="sequenceDiagramController.deleteDiagram(sequenceDiagram)">
                            <md-icon>delete</md-icon> Delete
                        </button>

                    </md-card-actions>

                </md-card>

            </li>
        </ul>
    </md-tab>

    <md-tab [disabled]="openedSequenceDiagram == null" label="Edit" class="menu-tab">
        
        <md-list>
            
             <!-- Create Operations -->
            <h3 md-subheader>CREATE</h3>

             <!-- Create Layer -->
            <md-list-item>
                <button md-button class="list-item-button" (click)="layersController.createLayer()">
                    <md-icon>library_add</md-icon> Create Layer
                </button>
            </md-list-item>

             <!-- Create Lifeline -->
            <md-list-item *ngIf="editingLayer">
                <button md-button class="list-item-button" (click)="lifelinesController.createLifeline()">
                    <md-icon>add</md-icon> Create Lifeline
                </button>
            </md-list-item>

            <!-- Switch between fragment and message creation -->
            <md-list-item *ngIf="editingLayer">
                <md-slide-toggle (click)="toggleAddMessageState()" [color]="'primary'" class="list-item-toggle">
                    Add fragments
                </md-slide-toggle>
            </md-list-item>
            

             <!-- Delete Operation -->
            <h3 md-subheader *ngIf="editingLayer">DELETE</h3>

             <!-- Delete Element -->
            <md-list-item *ngIf="editingLayer">
                <button md-button class="list-item-button" (click)="sequenceDiagramController.deleteInProgress = true">
                    <md-icon>delete</md-icon> Delete Element
                </button>
            </md-list-item>

             <!-- Delete Layer -->
            <md-list-item *ngIf="editingLayer">
                <button md-button class="list-item-button" (click)="layersController.deleteLayer()">
                    <md-icon>remove_from_queue</md-icon> Delete Layer
                </button>
            </md-list-item>

        </md-list>
        
    </md-tab>

</md-tab-group>