<md-toolbar color="primary">
    <span>3D UML</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item>
        <md-icon>autorenew</md-icon>
        <span>Refresh</span>
      </button>
        <button md-menu-item>
        <md-icon>save</md-icon>
        <span>Save all diagrams</span>
      </button>
        <button md-menu-item disabled>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
      </button>
        <button md-menu-item>
        <md-icon>info</md-icon>
        <span>Informations</span>
      </button>
    </md-menu>
</md-toolbar>

<md-tab-group (focusChange)="changeTab($event)">
    <md-tab label="View" class="menu-tab">
        <ul class="sidebar-nav">
            <li *ngFor="let sequenceDiagram of sequenceDiagrams" [class.active]="sequenceDiagram.id==openedSequenceDiagramId">
                <md-card>
                    <md-card-content>
                        <h3>{{sequenceDiagram.name}}</h3>
                    </md-card-content>
                    <md-card-actions>
                        <button md-button (click)="openSequenceDiagramHandler(sequenceDiagram)">
                            <md-icon>touch_app</md-icon> Select
                        </button>
                        <button md-button (click)="deleteDiagram(sequenceDiagram)">
                            <md-icon>delete</md-icon> Delete
                        </button>
                    </md-card-actions>
                </md-card>
            </li>
        </ul>
    </md-tab>

    <md-tab *ngIf="openedSequenceDiagram" label="Edit" class="menu-tab">
        <md-list>
            <h3 md-subheader>CREATE</h3>
            <md-list-item>
                <button md-button class="list-item-button" (click)="createDiagram()">
                    <md-icon>add_to_queue</md-icon> Create Diagram
                </button>
            </md-list-item>
            <md-list-item>
                <button md-button class="list-item-button" (click)="createLayerHandler()">
                    <md-icon>library_add</md-icon> Create Layer
                </button>
            </md-list-item>
            <md-list-item>
                <button md-button class="list-item-button" (click)="createLifeline()">
                    <md-icon>add</md-icon> Create Lifeline
                </button>
            </md-list-item>
            <h3 md-subheader>DELETE</h3>
             <md-list-item>
                <button md-button class="list-item-button" (click)="delete()">
                    <md-icon>delete</md-icon> Delete Component
                </button>
            </md-list-item>
            <h3 md-subheader>TEST</h3>
             <md-list-item>
                <button md-button class="list-item-button" (click)="confirmTest()">
                    <md-icon>done</md-icon> Confirm Dialog
                </button>
            </md-list-item>
        </md-list>
    </md-tab>
</md-tab-group>
