<div id="wrapper" *ngIf="loaded">

    <div id="sidebar-wrapper">
        <app-sidebar-menu
            (openSequenceDiagram)="openSequenceDiagram($event)"
            (createLayer)="createLayer($event, sequenceDiagramComponent)"
        ></app-sidebar-menu>
    </div>

    <div id="page-content-wrapper">
        <app-sequence-diagram
            #sequenceDiagramComponent
            [rootInteraction]="openedSequenceDiagram"
        ></app-sequence-diagram>
    </div>

</div>
<div *ngIf="!loaded" class="loading">
    <img src="/loading.gif" alt="Loading">
</div>
