#sidebar-wrapper {
    display: block;
    float: left;
    width: 20%;
    height: 100vh;
    background: #000;
}

#page-content-wrapper {
    display: block;
    float: right;
    width: 80%;
    height: 100vh;
}