<div id="wrapper" *ngIf="loaded">

    <div id="sidebar-wrapper">
        <app-sidebar-menu
            (openSequenceDiagram)="openSequenceDiagram($event)"
            (createLayer)="createLayer($event)"
        ></app-sidebar-menu>
    </div>

    <div id="page-content-wrapper">
        <app-sequence-diagram
            [rootInteractionInput]="openedSequenceDiagram"
            [createLayerName]="createLayerName"
        ></app-sequence-diagram>
    </div>

</div>
<div *ngIf="!loaded" class="loading">
    <img src="/loading.gif" alt="Loading">
</div>
