<div id="wrapper">

    <div id="sidebar-wrapper">
        <app-sidebar-menu
            #menuComponent
            (onOpenSequenceDiagram)="openSequenceDiagram($event)"
            (onCreateLayer)="createLayer($event, sequenceDiagramComponent)">
        </app-sidebar-menu>
    </div>

    <div id="page-content-wrapper">
        <app-sequence-diagram
            #sequenceDiagramComponent
            *ngIf="openedSequenceDiagram"
            (onChangeEditingLayer)="menuComponent.editingLayer = $event"
            [rootInteractionFragment]="openedSequenceDiagram"
            [editMode]="menuComponent.editMode"
            [class.editMode]="menuComponent.editMode"
            [class.disable3D]="menuComponent.editMode">
        </app-sequence-diagram>
    </div>

</div>
