
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 30%;
	position: absolute;
    width: 200px;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: ;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  padding-top: 20px;
}

.sidenav button:hover {
  background-color: #cfd8dc;
}


@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}