/* Global */
.loading {
  display: block;
  padding-top: 200px;
  font-size: 18px;
  text-align: center;
}

* {
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
  outline: 1px solid transparent!important;
}

input {
  z-index: 999!important;
  border: 0;
}

/* Layers */
.layers-wrapper {
  display: none;
}

.layer {
  display: block;
  width: 1200px;
  height: 880px;
  background-color: rgba(240, 240, 240, 0.75);
  padding: 30px;
}

.layer:hover {
  background-color: rgba(210, 240, 255, 0.75);
}

/* Sequence Diagram */
.sequence-diagram {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  font-size: 12px;
  font-family: monospace;
}

.sequence-diagram * {
  margin: 0;
  padding: 0;
}

.sequence-diagram div,
.sequence-diagram svg {
  display: block;
  position: absolute;
}

.sequence-diagram :hover {
  color: blue!important;
  background-color: rgba(0, 255, 0, 0.1)!important;
}

/* Lifeline */
.sequence-diagram .lifeline {
  top: 0;
  width: 120px;
  height: 880px;
}

.sequence-diagram .lifeline .title {
  width: 88px;
  height: 18px;
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
  padding: 15px;
  overflow: hidden;
}

.sequence-diagram .lifeline .title input {
  display: none;
}

/* Lifeline - Title editing */
.sequence-diagram .lifeline .title.editingTitle {
  width: 118px;
  height: 48px;
  padding: 0;
}

.sequence-diagram .lifeline .title.editingTitle input {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  background-color: #f1c40f!important;
}

.sequence-diagram .lifeline .title.editingTitle span {
  display: none;
}

/* Lifeline - Line */
.sequence-diagram .lifeline .line {
  border-left: 1px dashed #000;
  top: 0;
  left: 50%;
  height: 100%;
}

/* Lifeline - execution Specifications */
.sequence-diagram .lifeline .executions {
  top: 50px;
  left: 54px;
}

.sequence-diagram .lifeline .executions .execution {
  border: 1px solid #000;
  background-color: #fff;
  width: 11px;
}

/* Message - Lines */
.sequence-diagram .message .line {
  width: 100%;
  height: 15px;
  border-bottom-width: 1px;
  border-bottom-color: #000;
}

.sequence-diagram .message.sync .line {
  border-bottom-style: solid;
}

.sequence-diagram .message.async .line {
  border-bottom-style: dashed;
}

.sequence-diagram .message .line svg {
  top: 10px;
}

.sequence-diagram .message.left-to-right .line svg {
  right: 0;
}

/* Message - Title */
.sequence-diagram .message .title {
  width: 100%;
  text-align: center;
}

/* Fragments */
.sequence-diagram .fragment {
  border: 1px solid rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.sequence-diagram .fragment .title {
  background-color: #fff;
  padding: 3px 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

.sequence-diagram .fragment .operand {
  position: relative;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

.sequence-diagram .fragment operand:last-child .operand {
  border-bottom: none;
}

.sequence-diagram .fragment .operand .constraint {
  top: 3px;
  left: 60px;
}

/* Z-Indexes */
.sequence-diagram {
  z-index: 0;
}

.sequence-diagram .lifeline .title {
  z-index: 10;
}

.sequence-diagram .lifeline .executions .execution {
  z-index: 20;
}

.sequence-diagram .fragment {
  z-index: 30;
}

.sequence-diagram .fragment .title {
  z-index: 31;
}

.sequence-diagram .fragment .operand .constraint {
  z-index: 40;
}

.sequence-diagram .message {
  z-index: 50;
}

.sequence-diagram .message .title {
  z-index: 51;
}