<!-- TODO: prerobit na ngSwitch -->

<!-- Interaction -->
<ng-container *ngIf="fragment.type == 'Interaction'">
  
  <!-- Interaction Fragment -->
  <app-interaction-fragment
    *ngFor="let fragment of fragment.children"
    [fragment]="fragment">
  </app-interaction-fragment>
  
</ng-container>

<!-- Combined Fragment -->
<app-combined-fragment
  *ngIf="fragment.type == 'CombinedFragment'"
  [fragment]="fragment">

  <app-fragment-pulley [fragment]="fragment" [left]="0" [top]="50"></app-fragment-pulley>
  <app-fragment-pulley [fragment]="fragment" [left]="100" [top]="50"></app-fragment-pulley>
  
  <!-- Interaction Fragment -->
  <app-interaction-fragment
    *ngFor="let fragment of fragment.children"
    [fragment]="fragment">
  </app-interaction-fragment>
  
</app-combined-fragment>

<!-- Interaction Operand -->
<app-interaction-operand
  *ngIf="fragment.type == 'InteractionOperand'"
  [fragment]="fragment">

  <app-fragment-pulley [fragment]="fragment" [left]="50" [top]="0"></app-fragment-pulley>
  <app-fragment-pulley [fragment]="fragment" [left]="50" [top]="100"></app-fragment-pulley>
  
  <!-- Interaction Fragment -->
  <app-interaction-fragment
    *ngFor="let fragment of fragment.children"
    [fragment]="fragment">
  </app-interaction-fragment>
  
</app-interaction-operand>
