<!-- TODO -->
<!--
<p>
  Ja som:
  {{interactionFragmentModel.fragmentable.constructor.name}}
  {{interactionFragmentModel.fragmentable.id}}
</p>-->

<!-- TODO: prerobit na switch -->

<!-- Interaction -->
<app-interaction
  *ngIf="interactionFragmentModel.fragmentable.constructor.name == 'Interaction'"
  [interactionModel]="interactionFragmentModel.fragmentable">

  <!-- Interaction Fragment -->
  <app-interaction-fragment
    *ngFor="let child of interactionFragmentModel.children"
    [interactionFragmentModel]="child">
  </app-interaction-fragment>

</app-interaction>

<!-- Combined Fragment -->
<app-combined-fragment
  *ngIf="interactionFragmentModel.fragmentable.constructor.name == 'CombinedFragment'"
  [combinedFragmentModel]="interactionFragmentModel.fragmentable">

  <!-- Interaction Fragment -->
  <app-interaction-fragment
    *ngFor="let child of interactionFragmentModel.children"
    [interactionFragmentModel]="child">
  </app-interaction-fragment>

</app-combined-fragment>