<!-- Render layer -->
<!-- TODO CONSTANT -->
<div
  class="layer"
  [selectable]="{type: 'Layer', id: interactionFragmentModel.fragmentable.id}"
  [style.width]="(interactionFragmentModel.fragmentable.lifelines.length * 320) + 'px'">

  <!-- Render sequence diagram -->
  <div class="sequence-diagram">

    <!-- Lifelines -->
    <app-lifeline
      *ngFor="let lifeline of interactionFragmentModel.fragmentable.lifelines; let i = index;"
      [lifelineModel]="lifeline"
      [left]="i * 400"></app-lifeline>

    <!-- Messages -->
    <app-message
      *ngFor="let message of interactionFragmentModel.fragmentable.recursiveMessages"
      [messageModel]="message">
    </app-message>

    <!-- Interaction Fragments -->
    <app-interaction-fragment
      *ngFor="let fragment of fragments"
      [fragment]="fragment">
    </app-interaction-fragment>

  </div>

</div>
