<!-- Render layer -->
<!-- TODO CONSTANT -->

<div
  class="layer-wrapper"
  [style.width]="layerWidth + 'px'">

  <div
    class="layer-title"
    data-help="layerTitle"
    (dblclick)="layersController.renameLayer(interactionFragmentModel.fragmentable)">
    {{interactionFragmentModel.fragmentable.name}}
  </div>

  <div
    class="layer"
    [selectable]="{type: 'Layer', id: interactionFragmentModel.fragmentable.id, component: this}"
    [style.width]="layerWidth + 'px'">

    <!-- Render sequence diagram -->
    <div class="sequence-diagram">

      <!-- Lifelines -->
      <app-lifeline
        *ngFor="let lifeline of interactionFragmentModel.fragmentable.lifelines; let i = index;"
        [lifelineModel]="lifeline"
        [left]="i * lifelineGap"></app-lifeline>

      <!-- Messages -->
      <app-message
        *ngFor="let message of interactionFragmentModel.fragmentable.recursiveMessages"
        [messageModel]="message">
      </app-message>

      <!-- Interaction Fragments -->
      <app-interaction-fragment
        *ngFor="let fragment of fragments"
        [fragment]="fragment">
      </app-interaction-fragment>

    </div>
    
  </div>

</div>
