<!-- Render lifeline -->
<div
  class="lifeline"
  [selectable]="{type: 'Lifeline', id: lifelineModel.id, component: this}"
  [style.left]="left + 'px'">

  <div
    class="title"
    [selectable]="{type: 'LifelineTitle', id: lifelineModel.id, component: this}">
    <span>{{lifelineModel.name}}</span>
  </div>

  <div class="line"></div>
  <div class="executions">

    <!-- Render executions -->
    <!--<app-execution
      *ngFor="let execution of executions"
      [id]="execution.id"
      [height]="execution.height"
      [top]="execution.top"
    ></app-execution>-->

  </div>
  <div class="points">
    <div
      *ngFor="let point of points"
      class="point"
      [class.hidden]="point.hidden"
      [selectable]="{type: 'LifelinePoint', lifelineID: lifelineModel.id, time: point.time}">
    </div>
  </div>
</div>
