/* Global */
* {
  backface-visibility: hidden!important;
  -webkit-backface-visibility: hidden!important;
  outline: 1px solid transparent!important;
}

[hidden] {
  display: none!important;
}

input {
  z-index: 999!important;
  border: 0;
}

/* 3D mode */
app-sequence-diagram > app-layer {
  display: none;
}

app-sequence-diagram > div {
  display: block;
}

/* 2D mode */
app-sequence-diagram.editMode > app-layer {
  display: block;
}

app-sequence-diagram.editMode .sequence-diagram {
  height: auto;
}

app-sequence-diagram.editMode .layer {
  margin: auto;
}

app-sequence-diagram.editMode > div {
  display: none;
}

/* Layers */

.layer {
  display: block;
  min-width: 800px;
  height: 880px;
  background-color: rgba(240, 240, 240, 0.75);
  padding: 30px;
  border: 5px solid rgba(240, 240, 240, 0.75);
}

.layer:hover {
  /*background-color: rgba(210, 240, 255, 0.75);*/
  border: 5px solid rgba(0, 0, 0, 0.05);
}

/* Sequence Diagram */
.sequence-diagram {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  font-size: 12px;
  font-family: monospace;
}

.sequence-diagram * {
  margin: 0;
  padding: 0;
  cursor: default;
}

.sequence-diagram .hidden {
  visibility: hidden;
}

.sequence-diagram div,
.sequence-diagram svg {
  display: block;
  position: absolute;
}

/*.sequence-diagram :hover {
  color: blue!important;
  background-color: rgba(0, 255, 0, 0.1)!important;
}*/

/* Lifeline */
.sequence-diagram .lifeline {
  top: 0;
  width: 120px;
  height: 880px;
  overflow: hidden;
}

.sequence-diagram .lifeline .title {
  width: 88px;
  height: 18px;
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
  padding: 15px;
  overflow: hidden;
}

.sequence-diagram .lifeline .title input {
  display: none;
}

/* Lifeline - Title editing */
.sequence-diagram .lifeline .title.editingTitle {
  width: 118px;
  height: 48px;
  padding: 0;
}

.sequence-diagram .lifeline .title.editingTitle input {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  background-color: #f1c40f!important;
}

.sequence-diagram .lifeline .title.editingTitle span {
  display: none;
}

/* Lifeline - Line */
.sequence-diagram .lifeline .line {
  border-left: 1px dashed #000;
  top: 0;
  left: 50%;
  height: 100%;
}

/* Lifeline - execution Specifications */
.sequence-diagram .lifeline .executions {
  top: 50px;
  left: 54px;
}

.sequence-diagram .lifeline .executions .execution {
  border: 1px solid #000;
  background-color: #fff;
  width: 11px;
}

/* Lifeline - Points */
.sequence-diagram .lifeline .points {
  top: 55.5px;
  left: 54px;
}

.sequence-diagram .lifeline .points .point {
  position: relative;
  margin-top: 10px;
  width: 11px;
  height: 10px;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.5;
  cursor: pointer;
}

.sequence-diagram .lifeline .points .point:nth-child(2n+1) {
  position: relative;
  width: 7px;
  height: 6px;
  margin-left: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.sequence-diagram .lifeline .points .point:hover {
  background-color: #000;
}

/* Message - Lines */
.sequence-diagram .message .line {
  width: 100%;
  height: 15px;
  border-bottom-width: 1px;
  border-bottom-color: #000;
}

.sequence-diagram .message.sync .line {
  border-bottom-style: solid;
}

.sequence-diagram .message.async .line {
  border-bottom-style: dashed;
}

.sequence-diagram .message .line svg {
  top: 10px;
}

.sequence-diagram .message.left-to-right .line svg {
  right: 0;
}

/* Message - Title */
.sequence-diagram .message .title {
  width: 100%;
  text-align: center;
}

/* Fragments */
.sequence-diagram .fragment {
  border: 1px solid rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.sequence-diagram .fragment .title {
  background-color: #fff;
  padding: 3px 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.sequence-diagram .fragment .operand {
  position: relative;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.7);
}

.sequence-diagram .fragment operand:last-child .operand {
  border-bottom: none;
}

.sequence-diagram .fragment .operand .constraint {
  top: 3px;
  left: 60px;
}

/* Z-Indexes */
.sequence-diagram {
  z-index: 0;
}

.sequence-diagram .lifeline .title {
  z-index: 10;
}

.sequence-diagram .lifeline .executions .execution {
  z-index: 20;
}

.sequence-diagram .lifeline .points .point {
  z-index: 21;
}

.sequence-diagram .fragment {
  z-index: 30;
}

.sequence-diagram .lifeline {
  z-index: 40;
}

.sequence-diagram .fragment .title {
  z-index: 50;
}

.sequence-diagram .fragment .operand .constraint {
  z-index: 60;
}

.sequence-diagram .message {
  z-index: 70;
}

.sequence-diagram .message .title {
  z-index: 71;
}
