// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

@import "menu";

@import "sequence-diagram";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#sidebar-wrapper {
  position: fixed;
  z-index: 99999999999;
  background-color: #fff;
}
.input-item {
  padding-bottom: 10px;
  padding-top: 10px;
}

/* Night Mode */
body,
#sidebar-wrapper,
.mat-card,
.mat-button-wrapper,
.mat-subheader{
  background-color: #333!important;
  color: #ccc!important;
}

.section-heading {
  color: #ccc!important;
}